.about {
    margin-top: 100px;
    padding: 130px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
  
    img {
      width: 24vw;
      margin: 0 60px;
      border: 10px solid white;
    }
  }
  
  .about:hover img {
    transform: scale(1.1);
  }
  
  .about img {
    width: 23vw;
    margin: 0 60px;
    border: 10px solid white;
    transition: transform 0.5s ease-in-out;
  }
  
  .about-me-text-container {
    width: 25vw;
    text-align: left;
    overflow: hidden;
  
    p{
      text-align: left;
      padding-top: 20px;
      font-size: 18px;
    }
  }
  